.programHeader{
  color:black;
}

.program_title{
  background-color: #0B4177;
  color: #8DC63F;
  font-size: 40px;
  padding: 30px;
  font-weight: 600;
  text-align: center;
}
.program_progress{
  display: flex;
  flex-direction: column;
  background-color: #24335A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.direct{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  text-align: center;
  padding:5px 30px;
  color:#EBEBEB
}

.direct_icon{

}

.direct_text{
  
}

.displayProgress{
  display: flex;
  flex-direction: column;
}

.progress_title{
  padding:5px 30px;
  font-size: 24px;
  font-weight: 500;
  color: #E5E5E5;
}

.progress_completion{
  color: #E5E5E5;
  font-size: 12px;
  padding:5px 30px;
  margin-bottom: 15px;
}



.searchBox{
  background-color: #14244D;
  padding: 20px 30px;
  color: black;
  height: auto;
  align-items: center;
  
}

.searchBox_input{

}


.task_main{
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
}
.title{
  margin-left: 10px;
  font-size: 18px;
  color:#FFFFFF;
  margin-bottom: 3px;
  
}
.task_description{
  color:#ACACAC;
  font-weight: 200;
  margin-left: 25px;
  display:flex;
  flex-direction: row;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  align-items: center;
  padding-bottom: 15px;
  font-size: 14px;
}
.type_des{
  margin-right: 10px;
  color:#ACACAC;
}

.duration_des{
  margin-right: 10px;
  color:#ACACAC;
}

.icon_des{
  margin-right: 10px;
  color:#ACACAC;
}

